// FONTS
$font-stack-system: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
  oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;
$font-sans-serif: 'Helvetica Neue', arial, sans-serif;
$font-serif: georgia, serif;
$font-slab-serif: $font-serif;

// $font-slab: $font-museo-slab;

$base-font-family: $font-sans-serif;
$heading-font-family: $font-serif;
